<div class="jumbotron jumbotron-fluid">
    <div class="container justify-content-md-center">
      <br>
      <br>
      <br>
      <h1 class="display-4">Promociones</h1>
      <p class="lead">Gestión de promociones</p>
      <button type="button" (click)="newPromociones()" [class]="!modalCreate ? 'btn btn-success float-right' : 'btn btn-danger float-right' " data-toggle="modal" data-target="#exampleModalCenter">
        {{ !modalCreate ? 'Crear Promociones' : 'Descartar'}}
      </button>
      <!-- <button type="button" (click)="newPromocion()" class="btn btn-success float-right">Nuevo</button> -->
    </div>
</div>
<app-create-promocion *ngIf="modalCreate">
</app-create-promocion>
<div class="container overflow-auto"  style="height: 650px;">
    <div class="row justify-content-md-center">
        <table class="table table-hover" data-sticky-header="true">
            <thead class="thead-dark" >
              <tr >
                <th scope="col">Clave</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Promocion</th>
              </tr>
            </thead>
            <tbody>
    
                <ng-container *ngFor="let promocion of Promociones">
                    <tr>
                      <th scope="row"> {{ promocion.Clave }} </th>
                      <td>{{ promocion.Nombre }}</td>
                      <td>{{ promocion.Descripcion }}</td>
                      <td>{{ promocion.Precio }}</td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="edit(promocion._id)" class="btn btn-primary">Editar</button>
                            <button type="button" (click)="delete(promocion._id)" class="btn btn-danger">Eliminar</button>
                        </div>                          
                    </td>
                    </tr>
                </ng-container>            
    
            </tbody>
        </table>
    </div>
</div>

