
<div class="jumbotron jumbotron-fluid">
    <div class="container justify-content-md-center">
      <h1 class="display-4 center">Distribuidores</h1>
      <!-- <button type="button" (click)="newProducto()" class="btn btn-success float-right">Nuevo</button> -->
    </div>
</div>

<table class="table" BORDER CELLPADDING=10 CELLSPACING=0 summary="Tienda dedicada a la produccion de herramientas para la construcción" >
    <caption>Distribuidores Autorizados por ConcreteTools</caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Logo</th>
        <th scope="col">Distribuidor</th>
        <th scope="col">Telefóno</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Dirección</th>
        <th scope="col">Nombre o Razón Social</th>
        <th scope="col">RFC</th>
        <th scope="col">Uso CDFI</th>
        <th scope="col">Región</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/GFA150330DVA.png" /></td>
        <th scope="row">Grupo Ferretero Angsa S A P I de C.V.</th>
        <td>7711470497</td>
        <td>gpo.anglo@gmail.com</td>
        <td>CALLE NEVADO DE COLIMA, 102, SAN CAYETANO, 13048, PACHUCA DE SOTO, HIDALGO MEXICO</td>
        <td>GRUPO FERRETERO ANGNSA S A P I de C.V.</td>
        <td>GFA150330DVA</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr>
    <tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/DAR980413Q98.png" /></td>
        <th scope="row">DISTRIBUIDORA ARGMONS S.A. DE C.V.</th>
        <td>7717193839</td>
        <td>compras@argmons.com.mx</td>
        <td>BOULEVAR RAMON G. BONFIL No. 312 COL. PLUTARCO ELIAS CALLES C.P. 4035 PACHUCA HIDALGO MEXICO</td>
        <td>DISTRIBUIDORA ARGMONS S.A. DE C.V.</td>
        <td>DAR980413Q98</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/JIVA510429LE4.png" /></td>
        <th scope="row">JVRENTA</th>
        <td>7717100346</td>
        <td>jvrenta_servicios@hotmail.com</td>
        <td>CARR. PACHUCA ACTOPAN KM 6.5, S/N, LA LOMA, 13052, PACHUCA, SAN AGUSTIN TLAXIACA, HIDALGO, MEXICO.</td>
        <td>ALEJANDRO JIMENEZ VARGAS</td>
        <td>JIVA510429LE4</td>
        <td>G03 - GASTOS EN GENERAL</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/HEAA7106134D9.png" /></td>
        <th scope="row">ESTAMPADOS EN CONCRETO HIDALGO ROTEC PACHUCA</th>
        <td>7712540616</td>
        <td>mhac_edifica@hotmail.com</td>
        <td>BOULEVAR RAMON G. BONFIL, JOSE ANTONIO TELLERIA BELTLAN 76, COL. SAN PEDRO NOPALCALCO, 42084, HIDALGO MEXICO</td>
        <td>ANTONIO HERNANDEZ ACOSTA</td>
        <td>HEAA7106134D9</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/RFCGUILLERMO.png" /></td>
        <th scope="row">MATERIALES SAN ANTONIO</th>
        <td>7717110732</td>
        <td>mail@mail.com</td>
        <td>Carretera México Pachuca Kilómetro 81.5, Colonia San Antonio del Desmonte, 42111 Pachuca de Soto, HIDALGO</td>
        <td>GUILLERMO</td>
        <td>RFCGUILLERMO</td>
        <td></td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/CHH810116B89.png" /></td>
        <th scope="row">CERON HERRAMIENTAS DE HIDALGO SA DE CV</th>
        <td>7737322483  &  7731002783</td>
        <td>ceronhta@prodigy.net.mx</td>
        <td>CARRETERA TULA ACTOPAN 7, COL. CENTRO, 42800, TULA DE ALLENDE, HIDALGO, MEXICO</td>
        <td>OLIVIA CERON MONTUFAR</td>
        <td>CHH810116B89</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">HERCAVSA</th>
        <td>7714281551</td>
        <td>hercavsa@gmail.com</td>
        <td>BLVD. FELIPE ANGELES 2014, COL.CARLOS ROVIROSA, 42082, PACHUCA, HIDALGO, MEXICO</td>
        <td>CELSO HERMINIO AVENDAÑO CHAVEZ</td>
        <td>AECC510406NX4</td>
        <td>G03 - Gastos en general</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">NOMBRE</th>
        <td>TELEFONO</td>
        <td>MAIL@mail.com</td>
        <td>INDEPENDENCIA 200 COL. BENITO JUAREZ, 42500, ACTOPAN, HIDALGO, MEXICO</td>
        <td>EDWINS AVILES GONZALEZ</td>
        <td>AIGE790812A70</td>
        <td>G03 - Gastos en general</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">JILOTEPEC</th>
        <td>TELEFONO</td>
        <td>alvarito_santiago1@hotmail.com</td>
        <td>AVENIDA ANDRES MOLINA ENRIQUEZ 149 CENTRO, 54240, JILOTEPEC DE MEDINA, ESTADO DE MEXICO, MEXICO</td>
        <td>JAIME SANTIAGO GUZMAN</td>
        <td>SAGJ870325A25</td>
        <td>G03 - Gastos en general</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/AFM920403BR2.png" /></td>
        <th scope="row">ARTICULOS FERRETEROS Y MATERIALES PARA CONSTRUCCION ARFYMCSA </th>
        <td>(728) 287 0480, 287 0297 &  800-400-7622</td>
        <td>arfymcsa@yayoo.com.mx</td>
        <td>AVENIDA JUAREZ, 551, BARRIO LA CONCEPCION, 52100, SAN MATEO ATENCO, ATENCO, ESTADO DE MEXICO, MEXICO</td>
        <td>EMMA OLIVIA MOLINA</td>
        <td>AFM920403BR2</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">COMINSUR</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>PERIFERICO ARCO NORTE, CARLOS PELLICER CAMARA S/N COL. JOSE MARIA PINO SUAREZ, 86220, VILLAHERMOSA, TABASCO, MEXICO</td>
        <td>JESUS ALBERTO MORENO PAYRO</td>
        <td>MOPJ900924M17</td>
        <td>G03 - Gastos en general</td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/LORI850430R45.png" /></td>
        <th scope="row">SERVICIOS INTEGRALES PARA LA CONSTRUCCION SIC TAP</th>
        <td>7711470497</td>
        <td>gpo.anglo@gmail.com</td>
        <td>CALLE MANGOS MZ 24 LT 15 ENTRE ROSAS Y NARANJOS FRACC. LOS LAURELES, 30780, TAPACHULA CHIAPAS, MEXICO</td>
        <td>ISAAC ANTONIO LOPEZ RUIZ</td>
        <td>LORI850430R45</td>
        <td>G03 - Gastos en general</td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/RFCJUANRIOS.png" /></td>
        <th scope="row">NOMBRE</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>DOMICILIO</td>
        <td>JUAN RIOS GUTIERREZ</td>
        <td>RFCJUANRIOS</td>
        <td></td>
        <td>Región</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">MATERIALES Y OBRAS DE GUERRERO</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>GALEANA ESQUINA DR ALARCON, 28, CENTRO, 39200, AYUTLA, AYUTLA DE LOS LIBRES, GUERRERO, MEXICO</td>
        <td>CANDIDO GARCIA MACARIO</td>
        <td>GAMC880328V40</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">NOMBRE</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>ALVARO OBREGON, ESQ. ALVARO OBREGON, No. 69, COL. SANTIAGO DE LA PEÑA, 92770, TUXPAN, VERACRUZ, MEXICO</td>
        <td>JORGE LUIS YEPEZ ORTIZ</td>
        <td>YEOJ700314UW4</td>
        <td>G03 - Gastos en general</td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">CONSTRUCCIONES, PAVIMENTOS Y COMERCIO JASARAMU, S.A. DE C.V.</th>
        <td>7471373888</td>
        <td>chayo_contabilidad@hotmail.com</td>
        <td>NUMERO 3 No. 60 COL. VILLA MODERNA C.P. 39074 CHILPANCINGO DE LOS BRAVO GUERRERO, MEXICO</td>
        <td>JOSE URBANO</td>
        <td></td>
        <td>G01 - Adquisición de mercancias </td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">NOMBRE</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>DOMICILIO</td>
        <td>AUGUSTO BOYZO VILLANUEVA</td>
        <td>BOVA920626MI2</td>
        <td>G03 - Gastos en general</td>
        <td>Región</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">LA FLOTA HERRAMIENTAS</th>
        <td>5553629485</td>
        <td>http://www.laflotaherramientas.com/</td>
        <td>DOMICILIO</td>
        <td>JAVIER CORIA</td>
        <td></td>
        <td></td>
        <td>Región </td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">NOMBRE</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>EUTIMIO PINZON No.42 COL. MOCTEZUMA, 39020, CHILPANCINGO DE LOS BRAVO, GUERRERO, MEXICO</td>
        <td>ALDO URIEL RAMIREZ VELAZQUEZ</td>
        <td>RAVA830528KX0</td>
        <td>G03 - Gastos en general</td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">NOMBRE</th>
        <td>TELEFONO</td>
        <td>mail@mail.com</td>
        <td>BLVD LAZARO CARDENAS SUR 374 COL. CENTRO, 59000, SAHUAYO DE MORELOS, MICHOACAN, MEXICO</td>
        <td>RODRIGO GARIBAY LARA</td>
        <td>GALR930615I32</td>
        <td>G03 - Gastos en general</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/img.png" /></td>
        <th scope="row">RINO EN CONCRETO</th>
        <td>7227062601</td>
        <td>cecsa04@gmail.com</td>
        <td>PLAN DE AGUA PRIETA #206 COL. LA MAGDALENA, 50010, TOLUCA, MEXICO, MEXICO</td>
        <td>CLAUDIA RUIZ</td>
        <td>RCO190214UIA</td>
        <td>G03 - Gastos en general</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/ZULC000625S0.png" /></td>
        <th scope="row">MAQUINARIA ADONAI</th>
        <td>7471250788</td>
        <td>salvadorramirez7700@gmail.com</td>
        <td>CHILPANCINGO DE LOS BRAVO, GUERRERO. COL. LA OBRERA, CALLE JAIME NUNO</td>
        <td>CECILIA ZUÑIGA LOPEZ</td>
        <td>ZULC000625S0</td>
        <td>G03 - Gastos en general</td>
        <td>Región Sur</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/FIM001115MJ0.png" /></td>
        <th scope="row">FERRETERIA IMPERIO, SA DE CV  </th>
        <td>9222416237</td>
        <td>Ferreteria_imperio@hotmail.com</td>
        <td>  BOULEVARD TECNOLOGICO MZA.33 COL. MEXICO MINATITLAN, VER., 96817</td>
        <td>CONTACTO</td>
        <td>FIM001115MJ0</td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr><tr>
        <td align="center" valign="middle"><img src= "assets/Distribuidores/FIM001115MJ0.png" /></td>
        <th scope="row">FERRETERIA IMPERIO, SA DE CV  </th>
        <td>9211242382</td>
        <td>coatza1@ferreteriaimperio.com</td>
        <td>Av. Transístmica 1125, Col. Lázaro Cárdenas, C.P. 96460, Coatzacoalcos, Veracruz.</td>
        <td>SUCURSAL COATZACOALCOS</td>
        <td> FIM001115MJ0 </td>
        <td>G01 - Adquisición de mercancias</td>
        <td>Región Centro</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th scope="row" colspan="2">Número total de álbumes</th>
        <td colspan="2">77</td>
    </tr>
    </tfoot>
</table>
    
