<div class="hero-wrap js-fullheight" style="background-image: url('../../../../assets/images/banner_inicio.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate">

          <h2 class="subheading">Leave the house cleaning chores to us</h2>
          <h1 class="mb-4">Let us do the dirty work, so you don't have to.</h1>
          <p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>
        </div>
      </div>
    </div>
  </div>
  <br>
        <table BORDER CELLPADDING=10 CELLSPACING=0 summary="Tienda dedicada a la produccion de herramientas para la construcción">
            <caption>Distribuidores Autorizados por ConcreteTools</caption>
            <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Distribuidor</th>
                <th scope="col">Telefóno</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Dirección</th>
                <th scope="col">Nombre o Razón Social</th>
                <th scope="col">RFC</th>
                <th scope="col">Uso CDFI</th>
                <th scope="col">Región</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>imagen</td>
                <th scope="row">Grupo Ferretero Angsa S A P I de C.V.</th>
                <td>7711470497</td>
                <td>gpo.anglo@gmail.com</td>
                <td>CALLE NEVADO DE COLIMA, 102, SAN CAYETANO, 13048, PACHUCA DE SOTO, HIDALGO MEXICO</td>
                <td>GRUPO FERRETERO ANGNSA S A P I de C.V.</td>
                <td>GFA150330DVA</td>
                <td>G01 - Adquisición de mercancias</td>
                <td>Región Centro</td>
            </tr>
            <tr>
                <td>imagen</td>
                <th scope="row">DISTRIBUIDORA ARGMONS S.A. DE C.V.</th>
                <td>7717193839</td>
                <td>compras@argmons.com.mx</td>
                <td>BOULEVAR RAMON G. BONFIL No. 312 COL. PLUTARCO ELIAS CALLES C.P. 4035 PACHUCA HIDALGO MEXICO</td>
                <td>DISTRIBUIDORA ARGMONS S.A. DE C.V.</td>
                <td>DAR980413Q98</td>
                <td>G01 - Adquisición de mercancias</td>
                <td>Región Centro</td>
            </tr><tr>
                <td>imagen</td>
                <th scope="row">JVRENTA</th>
                <td>7717100346</td>
                <td>jvrenta_servicios@hotmail.com</td>
                <td>CARR. PACHUCA ACTOPAN KM 6.5, S/N, LA LOMA, 13052, PACHUCA, SAN AGUSTIN TLAXIACA, HIDALGO, MEXICO.</td>
                <td>ALEJANDRO JIMENEZ VARGAS</td>
                <td>JIVA510429LE4</td>
                <td>G03 - GASTOS EN GENERAL</td>
                <td>Región Centro</td>
            </tr><tr>
                <td>imagen</td>
                <th scope="row">ESTAMPADOS EN CONCRETO HIDALGO ROTEC PACHUCA</th>
                <td>7712540616</td>
                <td>mhac_edifica@hotmail.com</td>
                <td>BOULEVAR RAMON G. BONFIL, JOSE ANTONIO TELLERIA BELTLAN 76, COL. SAN PEDRO NOPALCALCO, 42084, HIDALGO MEXICO</td>
                <td>ANTONIO HERNANDEZ ACOSTA</td>
                <td>HEAA7106134D9</td>
                <td>G01 - Adquisición de mercancias</td>
                <td>Región Centro</td>
            </tr><tr>
                <td>imagen</td>
                <th scope="row">MATERIALES SAN ANTONIO</th>
                <td>7717110732</td>
                <td>mail@mail.com</td>
                <td>Carretera México Pachuca Kilómetro 81.5, Colonia San Antonio del Desmonte, 42111 Pachuca de Soto, HIDALGO</td>
                <td>GUILLERMO</td>
                <td>RFCGUILLERMO</td>
                <td></td>
                <td>Región Centro</td>
            </tr><tr>
                <td>image</td>
                <th scope="row">CERON HERRAMIENTAS DE HIDALGO SA DE CV</th>
                <td>7737322483  &  7731002783</td>
                <td>ceronhta@prodigy.net.mx</td>
                <td>CARRETERA TULA ACTOPAN 7, COL. CENTRO, 42800, TULA DE ALLENDE, HIDALGO, MEXICO</td>
                <td>OLIVIA CERON MONTUFAR</td>
                <td>CHH810116B89</td>
                <td>G01 - Adquisición de mercancias</td>
                <td>Región Centro</td>
            </tr><tr>
                <td>imagen</td>
                <th scope="row">ARTICULOS FERRETEROS Y MATERIALES PARA CONSTRUCCION ARFYMCSA </th>
                <td>728) 287-04-80, 287-02-97     &      01800-400-7622</td>
                <td>arfymcsa@yayoo.com.mx</td>
                <td>AVENIDA JUAREZ, 551, BARRIO LA CONCEPCION, 52100, SAN MATEO ATENCO, ATENCO, ESTADO DE MEXICO, MEXICO</td>
                <td>EMMA OLIVIA MOLINA</td>
                <td>AFM920403BR2</td>
                <td>G01 - Adquisición de mercancias</td>
                <td>Región Centro</td>
            </tr><tr>
                <td>imagen</td>
                <th scope="row">SERVICIOS INTEGRALES PARA LA CONSTRUCCION SIC TAP</th>
                <td>7711470497</td>
                <td>gpo.anglo@gmail.com</td>
                <td>CALLE MANGOS MZ 24 LT 15 ENTRE ROSAS Y NARANJOS FRACC. LOS LAURELES, 30780, TAPACHULA CHIAPAS, MEXICO</td>
                <td>ISAAC ANTONIO LOPEZ RUIZ</td>
                <td>LORI850430R45</td>
                <td>G03 - Gastos en general</td>
                <td>Región Sur</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="row" colspan="2">Número total de álbumes</th>
                <td colspan="2">77</td>
            </tr>
            </tfoot>
        </table>
    
